body { 
  margin: 0px;
  color: rgb(232, 16, 52);
  background: rgb(255, 157, 0);
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
} 

} 
header{ 
  border-bottom: solid 2px white; 
  padding: 20px;
  font-size: 32px; 
}
